@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,500,400,300,800);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);

body {
    background-color: #E0E9FF;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
p,
a {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    
    margin: 0px;
}

.nav > a, .navP{
    font-family: 'Oswald', sans-serif !important;
    font-weight: bold;
}

h3 {
    font-size: 22px;
}

.container-fluid,
.container {
    margin: auto;
    padding: 0px 15px;
    max-width: 1200px;
}

label {
    font-weight: 500;
}

.form-group {
    margin-bottom: 5px;
}


input,
textarea,
select,
button {
    margin: 5px 0px;
    font-size: 13px !important;
    border-radius: 0px;
}

input[type=text],
input[type=password],
textarea,
input[type=email],
select,
textarea {
    width: 100%;
    border: 1px solid #DADADA;
    padding: 5px 10px;
    height: 45px;
}

input[type=submit],
input[type=button],
input[type=reset],
button {
    border: none;
    font-size: 11px;
    border-radius: 3px;
    height: 45px;
    color: #FFF;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    color: #FFF;
}

input[type=radio] {
    margin: 0px;
    padding: 0px;
    height: auto;
}

.form-control {
    box-shadow: none !important;
    border-radius: 0px;
}

.form-control:focus {
    border: 1px solid #CCC;
}

.btn:focus {
    box-shadow: none !important;
}

textarea {
    width: 100%;
}

input[type=reset] {
    margin-left: 10px;
}

textarea {
    min-height: 100px;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none !important;
    color: inherit !important;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.pricing-table-container {
    padding: 50px 0px;
}

.description {
    padding: 15px 0px;
}

.description a {
    padding: 10px;
    font-size: 13px;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}

.description a.active {
    background-color: #FFF;
    padding-left: 25px;
}

/* DEMO 01 */
.pricing-table-3 {
    background-color: #FFF;
    margin: 15px auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border-radius: 0px 10px 0px 10px;
    overflow: hidden;
    position: relative;
    min-height: 250px;
    transition: all ease-in-out 0.25s;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 41%), -2px -2px 4px rgb(116 116 116 / 63%);
}

.pricing-table-3:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.pricing-table-3.basic .price {
    background-color: #28b6f6;
    color: #FFF;
}

.pricing-table-3.premium .price {
    background-color: #ff9f00;
    color: #FFF;
}

.pricing-table-3.business .price {
    background-color: #c3185c;
    color: #FFF;
}

.pricing-table-3 .pricing-table-header {
    background-color: #212121;
    color: #FFF;
    padding: 20px 0px 0px 20px;
    position: absolute;
    z-index: 5;
}

.pricing-table-3 .pricing-table-header p {
    font-size: 12px;
    opacity: 0.7;
}

.pricing-table-3 .pricing-table-header::before {
    content: "";
    position: absolute;
    left: -50px;
    right: -180px;
    height: 125px;
    top: -50px;
    background-color: #212121;
    z-index: -1;
    transform: rotate(-20deg)
}

.pricing-table-3 .price {
    position: absolute;
    top: 0px;
    text-align: right;
    padding: 110px 20px 0px 0px;
    right: 0px;
    left: 0px;
    font-size: 20px;
    z-index: 4;
}

.pricing-table-3 .price::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100px;
    bottom: -25px;
    background-color: inherit;
    transform: skewY(10deg);
    z-index: -1;
    box-shadow: 0px 5px 0px 5px rgba(0, 0, 0, 0.05);
}


.pricing-table-3 .pricing-body {
    padding: 20px;
    padding-top: 200px;
}

.pricing-table-3 .pricing-table-ul li {
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    padding: 15px 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.pricing-table-3 .pricing-table-ul .fa {
    margin-right: 10px;
}

.pricing-table-3.basic .pricing-table-ul .fa {
    color: #28b6f6;
}

.pricing-table-3.premium .pricing-table-ul .fa {
    color: #ff9f00;
}

.pricing-table-3.business .pricing-table-ul .fa {
    color: #c3185c;
}

.pricing-table-3 .view-more {
    margin: 10px 20px;
    margin-top: 30px;
    display: block;
    text-align: center;
    background-color: #212121;
    padding: 10px 0px;
    color: #FFF;
    border-radius: 5px;
}

.pricing-table-3 .view-more:hover {
    color: rgb(185, 185, 185) !important;
}

.price_page {
    /* background: linear-gradient(to top, #000e28, #fff); */
    min-height: 93vh;
}

/*---ribbon CSS-------*/
.ribbon.ribbon-1 {
    position: relative;
    background: #c30000;
    box-shadow: 0 0 0 999px #c30000;
    clip-path: inset(0 -100%);
    z-index: 9;
    color: yellow;
}

.ribbon.left {
    inset: 0 auto auto 0;
    transform-origin: 100% 0;
    transform: translate(-29.3%) rotate(-45deg);
}

.ribbon.right {
    /* inset: 0 0 auto auto; */
    transform-origin: 0 0;
    transform: translate(29.3%) rotate(45deg);
    
}

.ribbon-2 {
    --f: 10px;
    /* control the folded part*/
    --r: 15px;
    /* control the ribbon shape */
    --t: 10px;
    /* the top offset */

    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path:
        polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));
    background: #BD1550;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}
